<div class="p-2 border align-self-center">
    <div class="container-sm text-dark text-center">
      
    <div class="container text-center mt-5 ">
      <div class="description">
          <h1>Benvenuto alla nostra Pagina Meteo</h1>
          <p class="lead">Qui puoi trovare le previsioni del tempo dettagliate per la tua città o qualsiasi altra località nel mondo. Basta digitare il nome della città nel campo di ricerca e premere "Cerca" per visualizzare le informazioni meteo aggiornate.</p>
          
      
      </div>
      
    </div>
  </div>

